.scroll
	position relative

.scroll__graphic
	position sticky
	padding 5rem 1rem
	width 100%
	height 100vh
	max-height 800px
	top 0
	left 0
	bottom auto
	background-color #fff
	transform translate3d(0, 0, 0)

	.scroll__controls
		width 100%
		padding 0 0 1rem 0
		height 4rem
		display flex
		justify-content space-between
		flex-direction row

		.model-search
			display flex
			flex-direction row
			display none

			#model-dropdown
				margin-left 0.5rem
				height 1.5rem
				width 10rem

			&.is-visible
				display flex


		.model-search p, .img-toggle p
			font-family $national
			font-weight 600
			text-transform uppercase
			set-type-size('small')
			margin 0

		.img-toggle
			display none
			&.is-visible
				display flex
				flex-direction row

			p
				margin-right 0.5rem

			.toggle-labels
				text-transform none
				color $gray
				font-weight 400
				margin 0

			// toggle switch
			.switch
				margin 0 0.25rem
				position relative
				width 3rem
				height 1.5rem

				input
					opacity 0
					width 0
					height 0

				.slider
					position absolute
					cursor pointer
					top 0
					left 0
					right 0
					bottom 0
					background-color $gray-light
					transition .4s
					border-radius 1.5rem
					&::before
						position absolute
						content ''
						height 1rem
						width 1rem
						left 0.25rem
						bottom 0.25rem
						background-color white
						transition .4s
						border-radius 50%

				input:checked + .slider
					//background-color $gray-dark

				input:focus + .slider
					none

				input:checked + .slider:before
					transform translateX(1.5rem)

.scroll__text
	position relative
	padding 0 1rem
	margin 0 auto
	max-width 30rem
	pointer-events none
	//width 33%

.step
	margin 2rem auto
	opacity 0.2

.step-text-container
	background-color $white
	border 1px solid $gray-light
	box-shadow 0rem 1rem 2rem rgba($gray-light, 0.3)
	padding 2rem 1rem

	p
		text-align center
		font-size 1rem
		margin 0

		.desktopOnly
			display none
			+mq('bp-3')
				display block
		.mobileOnly
			display block
			+mq('bp-3')
				display none

.scroll-button
	background-color rgba($gray-light, 0.3)
	padding 0.125rem 0.25rem
	border-radius 0.25rem
	white-space nowrap
	pointer-events all
	&:hover
		background-color rgba($gray-light, 0.5)

#nyongo-button
	background-image url('assets/images/interaction.svg')
	background-repeat no-repeat
	background-position 95% 50%
	padding-right 1.5rem
	background-size 1rem 1rem

.step.is-active
	opacity 1

// beeswarm
.model-img
	opacity 0
	transition opacity 300ms ease-in-out
	&.is-visible
		opacity 1
		transition opacity 300ms ease-in-out
	&.faded
		opacity 0.3
		transition opacity 300ms ease-in-out
	&.highlight
		opacity 1
		transition opacity 300ms ease-in-out

.model-circle
	opacity 0
	transition opacity 300ms ease-in-out
	&.is-visible
		opacity 1
		transition opacity 300ms ease-in-out
	&.highlight
		stroke #3CBAE3
		stroke-width 3px
		transition stroke 300ms ease-in-out
		transition stroke-width 300ms ease-in-out
	&.faded
		opacity 0.3
		transition opacity 300ms ease-in-out

.beeswarm-legend
	margin 0 auto
	display flex
	flex-direction row
	align-items center;
	justify-content: flex-end;
	.legend-container
		color $gray
		font-family $national
		set-type-size('small')
		display flex
		flex-direction row
		justify-content: space-between;
		align-items: center
		width 100%
		padding 0 0.5rem
		margin-bottom 0.5rem

		span
			display flex
			align-items: center
			svg
				height 14px


.x.axis
	.domain
		display none
		stroke $gray-light
		fill none !important
	.tick
		line
			display none
		text
			display none

	path
		fill $gray-light

	.label
		fill $gray
		font-family $national
		set-type-size('x-small')

	.lighter
		text-anchor end

	.darker
		text-anchor start

.y.axis
	opacity 0
	transition 300ms ease-in-out
	.domain
		display none
	.tick
		line
			display none
		text
			fill $gray-dark
			font-family $national
			set-type-size('x-small')
		&.is-emphasized
			font-weight bold
	&.is-visible
		opacity 1
		transition 300ms ease-in-out

.year-rect
	fill rgba($black, 0.025)
	opacity 0
	transition opacity 300ms ease-in-out

.bg-rect
	fill rgba($black, 0.025)

.range-line
	stroke $gray-dark
	stroke-dasharray 2
	stroke-width 1px
	opacity 0
	transition opacity 300ms ease-in-out
