.intro
	margin 0 auto
	//padding 6rem 1rem 3rem 1rem

	&__covers
		height auto
		display inline-block
		+mq('bp-4')
			height 95vh
			display flex

	&__imgs
		width 100%
		position relative
		margin-top 3rem
		+mq('bp-4')
			position absolute
			top 3rem
			margin-top 0

	&__wrapper
		width 100%
		z-index 1
		position relative
		+mq('bp-4')
			bottom 10%
			position absolute

	&__hed
		width 100%
		margin 0 auto 0 auto
		text-align center
		font-family $serif-display
		display flex
		flex-direction column
		padding 2rem 0 2rem 0
		background-color: $bg
		align-self flex-end
		+mq('bp-4')
			width 80%
			margin 10rem auto 0 auto
			padding 4.4rem 0 4rem 0
		h1
			font-family $serif-display
			margin-top 0
			margin-bottom 0
			line-height: 1
		&-1
			text-align left
			padding-left 30%
			font-size 30px
			+mq('bp-3')
				padding-left 30%
				font-size 40px
			+mq('bp-4')
				font-size 50px
				padding-left 25%
			+mq('bp-5')
				padding-left 30%
				font-size 60px
		&-line
			display flex
			flex-direction row
			align-items center
			justify-content flex-end
			padding-right 30%
			+mq('bp-3')
				padding-left 30%
			+mq('bp-4')
				padding-left 25%
			+mq('bp-5')
				padding-right 30%
		&-2
			font-size 30px
			margin-right 0.5rem
			+mq('bp-3')
				font-size 40px
			+mq('bp-4')
				font-size 50px
			+mq('bp-5')
				font-size 60px
		&-3
			font-size 80px
			+mq('bp-3')
				font-size 100px
			+mq('bp-4')
				font-size 120px
			+mq('bp-5')
				font-size 140px
		&-4
			font-size 80px
			+mq('bp-3')
				font-size 100px
			+mq('bp-4')
				font-size 120px
			+mq('bp-5')
				font-size 140px

	&__dek
		max-width 22rem
		margin 0 auto 4.4rem auto
		text-align center
		font-family $national
		set-type-size('large')
		line-height: 1.2
		text-transform: uppercase;
		font-weight 300
		+mq('bp-3')
			set-type-size('x-large')

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		font-family $national
		set-type-size('medium')
		color $gray

	&__withline
		max-width $column-width
		margin 0 auto
		margin-top 0.1rem
		text-align center
		font-family $national
		set-type-size('small')
		color $gray

		a
			color $gray
			border-bottom 1px solid $gray-light
			font-weight 400 !important

	&__time
		display block
		max-width $column-width
		margin 0 auto
		margin-top 1rem
		text-align center
		font-family $national
		set-type-size('small')
		color $gray
		text-transform uppercase;
