.scroll-intro
  margin-top 50px
  .face-grid-container
    position fixed
    width 100%
    height 100%

    .face-grid
      display flex
      flex-wrap wrap

    .face-group
      width 125px;
      flex-grow 1
      position relative

      .grid-face
        position absolute
        z-index: 10
