/* CUSTOM STORY STYLE */
.dropCap
  float left
  font-size 100px
  line-height 80px
  padding 0 8px 3px 0
  font-family $serif-display

section
  margin-top 6.25rem

.divider
  overflow hidden
  text-align center
  font-family $national
  text-transform uppercase
  font-size 16px
  font-weight 700
  margin-top 8rem
  span
    background-color $off-black
    color $white
    padding 5px 10px
  &:before, &:after
    background-color $gray
    content ""
    display inline-block
    height 1px
    position relative
    vertical-align: middle;
    width 30%
  &:before
    right 0.5em
    margin-left -15rem
  &:after
    left 0.5em
    margin-right -15rem

.divider-wrapper
  margin 8rem auto 0 auto
  max-width $column-width
  padding 0 1rem

  .divider-line
    border-top 1px solid $gray
    width 100%

  .divider-text
    width 100%
    position relative
    top -1.4rem
    h3
      text-align center
      font-family $national
      text-transform uppercase
      font-size 16px
      font-weight 700
      width 13rem
      margin 0 auto
      color $white
      background-color $off-black
      border 10px solid $white

a
  &:hover
    color $gray-dark
    border-bottom 1px solid $gray-dark
