<!-- container = ".scroll" -->
<div class='scroll'>
  <!-- graphic = ".scroll__graphic" -->
  <div class='scroll__graphic'>
    <!--graphic / chart code here-->
  </div>
  <div class='scroll__text'>
    <!-- steps = ".step" -->
    <div class='step' data-step='1'><div class='step-text-container'>Step 1 text here</div></div>
    <div class='step' data-step='2'><div class='step-text-container'>Step 2 text here</div></div>
    <div class='step' data-step='3'><div class='step-text-container'>Step 3 text here</div></div>
  </div>
</div>
