<!-- container = ".scroll" -->
<div class='scroll'>
  <!-- graphic = ".scroll__graphic" -->
  <div class='scroll__graphic'>
    <!--graphic / chart code here-->
  </div>
  <div class='scroll__text'>
    <!-- steps = ".step" -->
    <div class='step' data-step='1'>
			<div class='step-text-container'>
				{{#each doc.beeswarmStep1}}
				<p>{{{value}}}</p>
				{{/each}}
			</div>
		</div>
		<div class='step' data-step='2'>
			<div class='step-text-container'>
				{{#each doc.beeswarmStep2}}
				<p>{{{value}}}</p>
				{{/each}}
			</div>
		</div>
		<div class='step' data-step='3'>
			<div class='step-text-container'>
				{{#each doc.beeswarmStep3}}
				<p>{{{value}}}</p>
				{{/each}}
			</div>
		</div>
  </div>
</div>
