<section class='conclusion'>
  <div class='divider-wrapper'>
    <div class='divider-line'></div>
    <div class='divider-text'><h3>{{doc.conclusionHed}}</h3></div>
  </div>

  {{#each doc.conclusion}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
