<section class='lupita'>
  <h3 class='divider'><span>{{doc.lupitaHed}}</span></h3>
  <img class='lupita-image' src='assets/images/lupitaPlaceholder.png'>

  {{#each doc.lupita}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
</section>
