<section class='methods' id='methods'>
  <h3 class='divider divider-methods'><span>{{doc.methodsHed}}</span></h3>

  {{#each doc.methods }}
    <p class='methods-prose'>{{{value}}}</p>
  {{/each}}

</section>
