<section class='methods' id='methods'>
  <div class='divider-wrapper'>
    <div class='divider-line'></div>
    <div class='divider-text'><h3>{{doc.methodsHed}}</h3></div>
  </div>

  {{#each doc.methods }}
    <p class='methods-prose'>{{{value}}}</p>
  {{/each}}

</section>
